/*Func*/

.under-logo{
  text-decoration: none;
}

.multi-level, .item ul, .nav input[type="checkbox"] {
  display: none;
}

.multi-level, .item input:checked ~ ul {
  display: block;
}

/*Arrow*/

.arrow {
  width: 12px;
  height: 12px;
  vertical-align: middle;
  float: left;
  position: relative;
  z-index: 999;
  margin: 17px 1em 0 2em;
}

.item{
  margin-bottom: 10px;
}

.item input + .arrow {
  transform: rotate(-90deg);
  transition: 0.1s;
}

.item input:checked + .arrow {
  transform: rotate(0deg);
  transition: 0.1s;
}

/*Styles*/

.main-nav {
  z-index:5;
}

label:hover {
  cursor: pointer;
  background-color: #7DC9C7;
  -moz-border-radius:10px 0;
  -webkit-border-radius:10px 0;
  border-radius:15px 15px;
  margin:10px;
  z-index:0;
}

label {
  display: block;
  z-index: 3;
  position: relative;
}

.nav {
  width: 350px;
  height: 100vh;
  position: relative;
  z-index: 1;
  top: 0;
  background-color: #EFF1ED;
  overflow-x: hidden;
  padding-top: 20px;
  font-weight:bold;
  box-shadow: 7px 0 60px rgba(0,0,0,0.05);
}

.nav ul, label {
  line-height: 40px;
  margin: 0;
  padding: 0 1em;
  list-style: none;
  text-decoration: none;
  color: #000000;
  font-size: 16px;
}

.nav li{
  line-height: 0px;
  margin: 0;
  padding: 0 1em;
  list-style: none;
  text-decoration: none;
  color: #000000;
  font-size: 16px;
}

.item ul {
  padding: 0 0.25em;
}

.nav li a {
  line-height: 20px;
  margin: 0;
  padding: 0 1em;
  list-style: none;
  text-decoration: none;
  color: #000000;
  font-size: 14px;
}

.sub-item{
  margin-bottom: 10px;
}

.sub-item:first-child{
  margin-top: 10px;
}

.sub-item li a{
  line-height: 0px;
  padding:0px;
}

.sub-item li a:hover{
  color:#7DC9C7;
}

.sub-item-localisation{
  margin-top: 20px;
  margin-bottom: 20px;
}

.sub-item-localisation a:hover{
  color:#7DC9C7; 
}

.sub-item-period{
  margin-top: 20px;
  margin-bottom: 20px;
}

.sub-item-period a:hover{
  color:#7DC9C7; 
}

.logo{
  margin-top:30px;
  margin-bottom: 50px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.icon h1 {
  font-size: 28px;
  padding-left: 0px;
  display:inline;
  color:#000000;
}

.icon{
  display: inline;
  vertical-align: baseline;
  padding:0px;
  text-decoration: none;
}

.icon img{
  width:30px;
}

.nav-mobile{
  display:none;
  align-items: center;
  height: 80px;
  background-color:#F9C80E;
}

#mobile-menu{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}

.side-label{
  display: none;
}

.side-label:hover {
  background-color:transparent;
  margin:0px;
}

.side-label img{
  width: 50px;
  margin-left:20px;
}

.logo-mobile{
  width:200px;
  margin:auto;
}

/* Responsive */

@media (min-width: 250px) and (max-width: 780px){

  .side-label{
    display: block;
    line-height: 0px;
    padding: 0px;
  }

  .nav{
    left:-100%;
    width: 100vw;
  }

  .logo{
    display:none;
  }

  .nav-mobile{
    display:flex;
  }

  #mobile-menu:checked ~ .nav{
    left: 0;
  }

  .icon h1 {
    font-size: 28px;
    padding-left: 0px;
    display:inline;
    color:#000000;
  }
  
  .icon{
    display: inline;
    vertical-align: baseline;
    padding:0px;
    text-decoration: none;
    margin-left: 0em;
  }
  
  .icon img{
    width:30px;
  }  
}





